.white-heading {
	color: white;
}
	
.rounded-img {
	border-radius: 15px;
}
	
main.container {
      	max-width: 100%;
      	padding-left: 0;
      	padding-right: 0;
}
	
section.bg-custom {
      	background-color: #59200a;	
}	
	
section.container {
	display: flex;
	justify-content: center;
      	max-width: 100%;
      	padding-left: 5;
      	padding-right: 5;
}
	
section.container-bis {
      	max-width: 75%;
      	padding-left: 5;
      	padding-right: 5;
}