body {
	font-family: 'Roboto Flex', sans-serif;
}

.navbar-brand img {
	height: 40px;
}

footer {
	background-color: #e0e0e0;
        padding: 2rem 0;
        text-align: center;
}

.material-symbols-outlined {
        vertical-align: middle;
}


.navbar-toggler {
        border: none;
        background: none;
}

.navbar-toggler .dots-icon {
        font-size: 28px;
}