.rounded-box-tris {
      	border: 1px solid #ccc;
      	border-radius: 15px;
      	overflow: hidden; 
  	padding: 0;    
	background-color: #e0e0e0;	  
}
	
.material-symbols-outlined {
      	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      	vertical-align: middle;
}
	
.rounded-img-q {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 0; 
	margin-bottom: 0; 
}
	
.white-heading {
	color: white;
}
	
.rounded-img {
	border-radius: 15px;
}
	
main.container {
      	max-width: 100%;
      	padding-left: 0;
      	padding-right: 0;
}
	
section.bg-custom {
      	background-color: #59200a;	
}	
	
section.container {
	display: flex;
	justify-content: center;
      	max-width: 100%;
      	padding-left: 5;
      	padding-right: 5;
}
	
section.container-bis {
      	max-width: 75%;
      	padding-left: 5;
      	padding-right: 5;
}